.position_list_ul{
	width:1216px;
}
.position_list_ul .position_list_item{
	width: 389px;
	height: 200px;
	border: 1px solid #EAEEED;
	float: left;
	margin-right: 16px;
	margin-bottom: 16px;
}
.position_list_ul .position_list_item .item_box{
	width: 351px;
	height: 178px;
	margin-top:18px;
	margin-left: 18px;
}
.position_list_ul .position_list_item .item_box .pli_top{
	margin-bottom: 18px;
	width: 351px;
	height: 87px;
	border: 1px solid;
}
.position_list_ul .position_list_item .item_box .pli_top .pli_top_1{
	height: 22px;
	line-height: 22px;
}
.position_list_ul .position_list_item .item_box .pli_top .pli_top_1 .pli_top_name{
	color: #333;
	font-size: 16px;
}
.position_list_ul .position_list_item .item_box .pli_top .pli_top_1 .pli_top_time{
	color: #999;
    font-size: 14px;
    margin-left: 6px;
}
.position_list_ul .position_list_item .item_box .pli_top .pli_top_1 .pli_top_tubiao{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/24.png) no-repeat;
	margin-top:3px ;
	margin-left: 6px;
	position: relative;
}
.position_list_ul .position_list_item .item_box .pli_top .pli_top_1 .pli_top_money{
	float: right;
	font-size: 16px;
    color: #fa6041;
}
.position_list_ul .position_list_item .item_box .pli_btm{
	border-top: 1px dashed #EAEEED;
	padding-top: 18px;
	box-sizing: border-box;
}
